.group{
    width: 100%;
    height: 100%;
}

.group .group-content{
    margin-top: 35px;
    width: 100%;
    height: calc(100% - 90px);
    /* border: 1px solid gray; */
    display: flex;
    justify-content: space-between;
    
}

.group .group-content .left{
    width: 25%;
    height: 100%;
    padding: 5px;
    text-align: center;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

}
.group .group-content .right{
    padding: 2px;
    width: calc(75% - 10px);
    height: 100%;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    overflow: auto;
}

.group .group-content .left .name{
    width: 120px;
    height: 120px;
    background-color: tomato;
    border-radius: 50%;
    color: white;
    padding: 2px;
    padding-top: 25px;
    text-align: center;
    margin: auto;
}
.group .group-content .left .top{
    height: 200px;
}
.group .group-content .left .top .id{
    height: 24px;
    margin-top: 10px;
}
.group .group-content .left .creator{
    height: 24px;
    margin-top: 10px;
}
.group .group-content .left .id img{
    height: 16px;
}

.group .group-content .left .id span{

    font-size: 18px;
}

.group .group-content .left .creator img{
    height: 16px;
}

.group .group-content .left .creator span{
    font-size: 18px;
}


.group .group-content .left .list-member{
    background-color: rgb(225, 229, 230);
    margin-top: 10px;
    width: 100%;
    height: calc(100% - 230px);
    padding: 5px;
    list-style: none;
    text-align: initial;
    /* border-top-left-radius: 25px;
    border-bottom-left-radius: 25px; */
    overflow: auto;
}

.group .group-content .left .list-member li{
    padding: 5px;
    margin-bottom: 3px;
    background-color: rgb(240, 251, 255);
    /* border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-radius: 20px; */
    cursor: pointer;
}
.group .group-content .left .member-title{
    text-align: initial;

}
.group .group-content .left .member-title img{
    height: 20px;
}
.group .group-content .left .member-title span{
    font-size: 20px;
}

.group .group-content .right .control{
    width: 100%;
    height: auto;
}

.group .group-content .right .control button{
    width: 100px;
    height: 25px;
    margin: 10px;
    cursor: pointer;
    border: none;
    color: white;
}

.group .group-content .right .control .doc{
    background-color: #dc3545;
}
.group .group-content .right .control .homework{
    background-color: #28a745;
}
.content{
    width: 100%;
    height: calc(100% - 45px);
    padding: 2px;
    
}
.doc-content{
    /* display: flex; */
    width: 100%;
    height: 100%;
    
    justify-content: space-between;
}
.create-doc{
    width: 30%;
    min-width: 257px;
}
.table-doc{
    width: 70%;
    min-width: 600px;
}
.table-doc table{
    margin: auto;
}

.create-doc > button{
    
    display: block;
    width: 150px;
    height: 30px;
    border: none;
    background-color: midnightblue;
    color: white;
    cursor: pointer;
    margin: auto;
    margin-top: 10px;
}
table{
    width: 100%;
    
}
table, tr, th, td{
    border: 1px solid blue;
    border-collapse: collapse;
}

th{
    width: auto;
    text-align: center;
}
td{
    text-align: center;
    width: auto;
    overflow: hidden;
}
tr, caption{
    height: 30px;
    transition: 0.4s;
}
tr:hover{
    background-color: rgb(214, 166, 166);
    color: white;

}
.stt-doc{
    width: 25px !important;
}

.doc-content .create-doc form{
    display: none;
    width: 250px;
    height: 500px;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-top: 30px;
    padding: 15px;
}
.doc-content .create-doc form h3{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: royalblue;
    color: white;
    text-align: center;
    line-height: 130px;
    margin: auto;
}
.doc-content .create-doc form input{
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-top: 30px;
}

.doc-content .create-doc form button{
    display: block;
    width: 100px;
    height: 30px;
    margin: auto;
    margin-top: 20px;
    border: none;
    color: white;
    background-color: tomato;
    
    cursor: pointer;
}
.doc-content .table-doc table{
    margin: auto;
}
.doc-content .table-doc table a{
    text-decoration: underline;
}

.display-none{
    display: block;
}
.doc-content .create-doc form div{
}
#alert-doc{
    margin-top: 30px;
    text-align: center;
}
.doc-content .table-doc table td img{
    cursor: pointer;
    transition: 0.4s;
}
.doc-content .table-doc table td img:hover{
    background-color: slategray;
}

.homework-content{
    width: 100%;
    height: 100%;
    display: flex;
}
.list-home-work{
    width: 75%;
    list-style: none;
}
.list-home-work li{
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin-bottom: 20px;
    background-color: rgb(235, 240, 243);
    display: flex;
    cursor: pointer;
    transition: 0.4s;
}
.list-home-work li:hover{
    background-color: #94c9d1
}
.list-home-work li span{
    text-align: start;
    padding-left: 10px;
}
.list-home-work li .bt{
    width: 50%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.list-home-work li .deadline{
    width: 30%;
}
.list-home-work li .action{
    width: 20%;

}
.list-home-work li .action img{
    height: 24px;
    cursor: pointer;
    transition: 0.4s;

}
.list-home-work li .action img:hover{
    background-color: lightslategray;
}

.create-homework{
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
}
.create-homework form{
    display: none;
    padding: 5px;
    margin: auto;
    width: 100%;
    height: 600px;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);


}
.create-homework form input{
    display: block;
    width: 100%;
    margin-top: 20px;
    height: 40px;
    padding: 5px;

}
.create-homework form textarea{
    display: block;
    width: 100%;
    margin-top: 20px;
    height: 150px;
    padding: 5px;
    resize: none;
}

.create-homework > button{
    display: block;
    margin: auto;
    width: 100%;
    height: 40px;
    border: none;
    background-color: rgb(60, 78, 179);
    color: white;
    margin-bottom: 20px;
    cursor: pointer;
}
.create-homework form h3{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(50, 161, 205);
    margin: auto;
    line-height: 150px;
    text-align: center;
    color: white;
}
.create-homework form button{
    display: block;
    margin: auto;
    width: 100px;
    height: 40px;
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 40px;
}

.alert-add-btvn{
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: rgb(196, 94, 58);
    color: white;
    line-height: 50px;
    border-radius: 10px;
    margin-top: 100px;
    transition: 0.5s;
    opacity: 0;
    
}

.edit-homework{
    display: none;
    width: 100%;
    height: calc(100% - 80px);
    border: 2px solid gray;
    position: absolute;
    z-index: 100;
    top: 80px;
    padding: 10px;
    background-color: rgb(27, 24, 24);
    opacity: 0.8;
    z-index: 1;
    transition: 0.5s;
}
.form-edit{
    display: none;
    width: 600px;
    height: 550px;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin-top: 120px;
    padding: 20px;
    opacity: initial;
    position: absolute;
    left: calc(50% - 300px);
    z-index: 1000;
    background-color: white;
    transition: 0.5s;
}
.form-edit h3{
    width: 100%;
    height: 50px;
}
.form-edit textarea{
    width: 100%;
    height: 250px;
    resize: none;
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid rgb(60, 78, 179);
}
.form-edit input{
    width: 100%;
    height: 50px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid rgb(60, 78, 179);
}
.btn-edit{
    width: 100%;
    height: 40px;
    text-align: end;
    margin-top: 20px;
}
.btn-edit button{
    width: 100px;
    height: 100%;
    cursor: pointer;
    border: none;
    
}
#btn-xn{
    background-color: rgb(196, 21, 21);
    color: white;
}
