
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI Web", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

html{
    width: 100%;
    height: 100%;
    min-width: 1300px;
}

body{
    width: 100%;
    height: 100%;
    min-width: 1300px;
}