.homework{
    width: 100%;
    height: 100%;
    
    font-size: 14px;
    font-weight: 400;
    
}

.homework-content{
    position: relative;
    padding: 10px;
    margin: auto;
    width: 1500px;
    height: 800px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

}
.homework-content .left{
    width: 50%;
    height: 100%;
    padding: 10px;
}
.homework-content .left h3{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #C32361;
    color: white;
    line-height: 150px;
    text-align: center;
    margin-bottom: 20px;
}
.homework-content .left h4{
    margin-top: 20px;
    margin-bottom: 20px;
}
.homework-content .left p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Segoe UI Web", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
    font-style: oblique;
}
.homework-content .right{
    width: 50%;
    height: 100%;
    padding: 10px;
}

#nameHomework{
    font-style: normal;
}
.homework-content .left u{
    position: absolute;
    bottom: 10px;
}
.homework-content .right form{
    display: block;
    width: 100%;
    height: 20%;
}
.homework-content .right form input{
    display: block  ;
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 20px;
}
.homework-content .right form button{
    width: 150px;
    height: 40px;
    border: none;
    background-color: rebeccapurple;
    color: white;
    cursor: pointer;
}
.submited{
    height: 100%;
    margin-bottom: 10px;
}
.submited ul{
    display: block;
    list-style: none;
    width: 100%;
    height: calc(100% - 30px);
    border-bottom: 1px solid;
    overflow: auto;
}
.submited ul li{
    cursor: pointer;
    padding-left: 10px;
    margin-top: 10px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: rgb(235, 240, 243);
    transition: 0.4s;
}
.submited ul li:hover{
    background-color: rgb(143, 200, 202);
}

.modal{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: calc(100% - 95px);
    background-color: #212529;
    z-index: 1;
    opacity: 0.9;
    
}

.modal-form{
    
    padding: 10px;
    position: absolute;
    z-index: 1000;
    width: 500px;
    height: 800px;
    top: 100px;
    left: calc(50% - 250px);
    background-color: white;
}
.modal-form ul{
    height: 300px;
    border-bottom: 1px solid;
    overflow: auto;
}
.modal-form form{
    width: 100%;
    height: 430px;
}
.modal-form form input{
    height: 30px;
    padding: 5px;
    width: 100%;
    display: block;
    margin-top: 20px;
}
.modal-form form input:focus{
    outline: none;
}
.modal-form form textarea:focus{
    outline: none;
}
.modal-form form textarea{
    padding: 5px;
    width: 100%;
    height: 300px;
    display: block;
    margin-top: 20px;
    resize: none;
}
.modal-form form >div{
    margin-top: 20px;
    width: 100%;
    height: 40px;
    text-align: end;
}
.modal-form form > div > button{
    width: 100px;
    height: 100%;
    border: none;
    cursor: pointer;
    
}
.xn-point-cmt{
    background-color: #C32361;
    color: white
}

.list-submited li{
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    background-color: rgb(235, 240, 243);
    transition: 0.4s;
    cursor: pointer;
    margin-top: 10px;
}
.list-submited li:hover{
    background-color: rgb(143, 200, 202);
}
.list-submited li a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: inline-block;
    color: black;
}