.manage-group{
    width: 100%;
    height: 100%;
}

.manage-group-content{
    width: 100%;
    height: calc(100% - 85px);
    margin-top: 30px;
    padding: 2px;
    display: flex;
    justify-content: space-between;
}
.manage-group-content .gr-btn{
    width: 100%;
    height: 40px;
    text-align: center;
}
.manage-group-content .gr-btn button{
    width: 160px;
    height: 100%;
    border: none;
    cursor: pointer;
    color: white;
}
.manage-group-content .gr-btn .is-created{
    background-color: #dc3545;
}
.manage-group-content .gr-btn .new-group{
    background-color: #17a2b8;
}
.manage-group-content .table-group{
    width: 70%;
    min-width: 800px;
    /* margin: auto; */
}
.manage-group-content .table-group table{
    /* margin: auto; */
    margin-top: 60px;
}

table, tr, th, td{
    border: 1px solid blue;
    border-collapse: collapse;
}
th, td{
    width: 200px;
    text-align: center;
}
tr, caption{
    height: 30px;
}
.manage-group-content .table-group table .action{
    display: flex;
    justify-content: space-around;
    border: none;
    padding-left:50px;
    padding-right:50px
}
.manage-group-content .table-group table .action img{
    cursor: pointer;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.4s;
}
.manage-group-content .table-group table .action img:hover{
    background-color: rgb(180, 175, 175);
    
}

.create-group{
    width: 30%;
    min-width: 450px;

}

.create-group .form-create{
    display: none;
    padding: 5px;
    width: 450px;
    height: 450px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

}

.create-group .form-create h2{
    width: 100px;
    height: 100px;
    background-color: #ef5350;
    border-radius: 50%;
    padding: 10px;
    color: white;
    margin: auto;
    text-align: center;
}
.create-group .form-create form{
    width: 100%;
    height: 100%;
    padding: 10px;
}
.create-group .form-create form .alert{
    width: 100%;
    height: 50px;
    line-height: 30px;
    margin-top: 50px;
    padding: 10px;
    text-align: center;
}
.create-group .form-create form input{
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    padding: 5px;
}

.create-group .form-create form button{
    display: block;
    width: 100px;
    height: 40px;
    border:none;
    color: white;
    background-color: #4a148c;
    cursor: pointer;
    margin: auto;
}

.display-block{
    display: block !important;
}
.display-none{
    display: none;
}

td  img{
    height: 24px;
}